.UpcomingQna {
  display: flex;
  height: 20px;
  width: 230px;
  padding: 13px 10px 12px 10px;
  font-size: 14px;
  border-radius: 40px;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 0px 2px 4px 1px #0000001a;
}
.UpcomingQna > div > img {
  margin-right: 10px;
}
.EventsTab {
  display: flex;
  margin-right: 30px;
  width: 500px;
}
.Paid {
  display: flex;
  height: 20px;
  width: 230px;
  padding: 13px 10px 12px 10px;
  font-size: 14px;
  border-radius: 40px;
  margin-top: 20px;
  margin-left: 20px;
  box-shadow: 0px 2px 4px 1px #0000001a;
}
.Paid > div > img {
  margin-right: 10px;
}
.rightArrow {
  font-size: 30px;
  margin-left: 180px;
  margin-top: 30px;
}
.cardTitle {
    margin-top: 10px;
    color: #e5265a;
    font-size: 48px;
    margin-bottom: 5px;
  }