* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  .App {
    width: 414px;
    min-height: 100vh;
    margin: auto;
  }
  
  body {
    background-color: black;
  }
  
  @import "../node_modules/@syncfusion/ej2-base/styles/material.css";
  @import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
  /* @import "../node_modules/@syncfusion/ej2-inputs/styles/material.css"; */
  @import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
  @import "../node_modules/@syncfusion/ej2-react-calendars/styles/material.css";
  