.card {
  /* width: 100%; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 16px 0px 0px 16px;
  border-right: 8px solid #e5265a;
  cursor: pointer;
  padding: 20px;
}

.main a {
  list-style: none;
  text-decoration: none;
  color: black;
}
.main {
  background-color: rgb(250, 250, 250);
  padding: 20px;
  padding-top: 100px;
  height: 800px;
}

.heading {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.details {
  border-right: 1px dashed gray;
  padding-right: 15px;
  width: 220px;
}

.details li {
  text-decoration: none;
  list-style: none;
}

.card h1 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #e5265a;
}

.card p {
  font-size: 12px;
}

.duration p {
  font-size: 24px;
  font-weight: 600;
  color: #e5265a;
  width: 120px;
  text-align: center;
}

.card {
  padding: 20px 15px;
}

.btn {
  background: #e5265a;
  border-radius: 8px;
  height: 48px;
  width: 124px;
  border: none;
  color: white;
  font-size: 16px;
  margin: 20px;
  cursor: pointer;
}
