@media screen and (max-width: 450px) {
  
  .card_image {
    height: 173px;
    width: 315px;
    position: relative;
    border-radius: 10px;
  }
  .cardLayout {
    padding: 10px 9px 8px 13px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 50px;
    margin-right: 30px;
    width: 320px;
    box-shadow: 0px 0px 2px 2px #0000001a;
    /* border: 1px solid black; */
  }
  .cardHeader {
    display: flex;
    /* border: 1px solid black; */
  }
  
  .cardLayout p {
    margin-top: 2px;
  }
}
