body {
  font-family: "Roboto", sans-serif;
}
.container-slider {
  max-width: 414px;
  height:100vh;
  position: relative;
  overflow: hidden;
  margin: auto;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
}
@media screen and (max-width: 700px) {
  .container-slider {
    margin: 0px;
    box-sizing: content-box;
    margin: -5px;
  }
}
.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  transition: opacity ease-in-out 0s;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.active-anim {
  opacity: 1;
}
.slide .active-anim {
  position: relative;
}

.btn-slide {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.h1btn>a{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: center;
  color: #ffffff;
  position: absolute;
  left: 25px;
  top: 90.5%;
}

.next {
  top: 93%;
  right: 20px;
  transform: translateY(-60%);
}

.container-dots {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 3px solid #f1f1f1;
  margin: 0 5px;
  /* background: rgb(32, 32, 32); */
}
.dot.active {
  background: #f1f1f1;
}
