@media screen and (max-width: 450px) {
  .cardTitle {
    color: #e5265a;
    font-size: 48px;
    margin-bottom: 5px;
  }
  .card_image {
    height: 173px;
    position: relative;
    border-radius: 10px;
  }
  .cardLayout {
    padding: 10px 10px 10px 46px;
    box-shadow: 10px 5px 5px 5px #0000001a;
    /* border: 1px solid black; */
  }
  .cardLayout p {
    margin-top: 2px;
  }
}
