header{
    width:400px;
    min-height:20px;
    background-color: red;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 30px;
    margin: auto;
    margin-top: 50px;
}
h4{
    color: black;
}
header a{
    color: rgb(10, 10, 10);
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
header ul li{
    display: inline-block;
    padding: 10px 20px;
    opacity: 0.7;
}
header ul li:hover{
    opacity: 1;
}

header ul li img{
    width: 30px;
    height: 30px;
    transform: translateY(10px);
    border-radius: 50%;
}

/* --------- Dropdown ---------- */
.drop_nav{
    position: relative;
    padding: 10px 0;
}
.drop_nav a{
    text-transform: capitalize;
    overflow: hidden;
}
.drop_nav .dropdown{
    position: absolute;
    background: #282c34;
    width: 100%;
    width: calc(100% + 30px);
    top: 50px;
    display: none;
}
.drop_nav .dropdown li{
    display: block;
}
.drop_nav:hover .dropdown{
    display: block;
}

