body{
    font-family:Roboto;
  }
  a{
    text-decoration: none;
  }
.login_page{
    width: 414px;
    background: #fff;
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0/10%), 0 8px 16px rgb(0 0 0/10%);
    border-radius: 8px;
    padding: 1rem;
    align-items: center;
    margin: auto;
    height: 100vh;
    padding-top: 50px;
}
.signup_page{
  width: 414px;
  background: #fff;
  border: 1px solid #dddfe2;
  box-shadow: 0 2px 4px rgb(0 0 0/10%), 0 8px 16px rgb(0 0 0/10%);
  border-radius: 8px;
  padding: 1rem;
  align-items: center;
  margin: auto;
  height:auto;
}
.arrow_btn{

    text-align: left;
    margin-top: 20px;
  }
  
  .arrow_btn>a{
    text-decoration: none; 
    color:#06012C;
    font-size: 18px;
  }
  
.heading{
    padding: 40px 0px 30px 0px;
    font-weight: 600;
    color:#868686;
    text-align: center;
    margin:0px 0px 30px 0px;
    font-size: 36px;
}
.input_label{
    margin-bottom: 10px;
    color:#868686;
    
}
.login_page input,.signup_page input{
    width: 100%;
    height: 45px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid red;
    outline: none;
    margin-top: -2px !important;
    padding-left: 0px;
}
form>div{
    width: 85%;
    margin: auto;
    margin-bottom: 10px;
}
input:hover {
    border-bottom: 2px solid blue;
  }
.btn_login{
    background: #e5265a;
    border: 1px solid #1877f2;
    height: 50px;
    width: 273px;
    color: #fff;
    font-size: 24px;
    padding: 0.5rem;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    margin: auto;
    margin-top: 30px;
}
.row{
    display: flex;
    align-items: center;
}
p{
    color: #868686;
    font-size: 12px;
    line-height: 14.4px;
    margin-top: 10px;
    text-align: center;
}
.terms>a{
    color:gray;
}
.signup_link{
    color:#06012C;
    font-size: 16px;
    font-weight: 500;
    padding:30px
}

.icon{
    height: 25px;
    left: 12.044921875px;
    top: 9.158935546875px;
    border-radius: 0px;
    margin:0 10px; 
  }
  
  .socialmedia{
    color:#06012C;
    font-size: 14px;
    line-height: 14.4px;
    margin: auto;
    
  }
  .footer{
    position: relative;
    top: -0.1rem;
  }
  
  .google_btn{
    border: none;
    outline: none;
    background-color: transparent;
  }
  